@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #c8ffab;
	margin: 0;
}
p {

}
.line-blue {
	 color:#2853ff;
	 text-decoration: underline;
	 text-align: right;
 }
.red {
	color: red;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: Green;
}
h5 {
	text-align: right;
}
#myid {
	color: darkred;
}
h1 b .my1 i {
	color: #4bff00;
	font-size: 0.5em;
}
h1 b span i {
	color: #4bff00;
	font-size: 0.5em;
}

b i {
	color: darkred;
}
i b {
	color:#ff00ce;
}